/*! purgecss start ignore */
@tailwind base;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 45%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 60%);
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap&text=Adventures');

@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;
